/* webpage layout */

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.container {
    display: grid;
    grid-template-columns: 20% 80%;
    grid-template-rows: 100%;
    width: 100vw;
    height: 100vh;
}

.main {
    grid-column: 2/3;
    display: grid;
    grid-template-rows: 20% 80%;
    grid-template-columns: 100%;
}

.content {
    background-color: lightgray;
    grid-column: 1/2;
}

/* dashboard */

.dashboard {
    display: grid;
    grid-column: 1/2;
    background-color: rgb(1, 138, 184);
    grid-template-rows: 1.3fr 5fr 7fr;
}

#dashboard-logo-title {
    padding: 25px 30px;
}

#dashboard-logo {
    font-size: 35px;
}

#dashboard-title {
    font-size: 30px;
}

.symbol-text {
    color: white;
    display: grid;
    place-items: center;
    grid-template-columns: auto auto;
    justify-content: flex-start;
    align-content: flex-start;
    gap: 20px;
}

.list {
    display: grid;
    grid-template-rows: repeat(6, max-content);
    gap: 20px;
    padding: 40px;
    font-size: 20px;
}

/* header */

.header {
    display: grid;
    grid-column: 1/2;
    padding: 15px 60px;
    background-color: white;
}

.header-first-row {
    display: grid;
    grid-template-columns: 60% 40%;
}

.search {
    display: grid;
    grid-template-columns: max-content max-content;
    gap: 20px;
    place-items: center;
    font-size: 1.2rem;
}

input[type="search"] {
    appearance: none;
    background-color: rgb(226, 238, 250);
    border: 1px solid #000;
    padding: 4px 12px;
    border-radius: 12px;
    width: 700px;
    font-size: 1rem;
}

.profile {
    display: grid;
    grid-template-columns: auto auto auto;
    place-items: center;
    align-content: center;
    justify-content: flex-end;
    gap: 30px;
    font-size: 1.2rem;
    padding-right: 50px;
}

#profile-image {
    border-radius: 50%;
    /* border: 1px solid black; */
}

.profile #profile-image {
    height: auto;
    width: 50px;
}

.header-second-row {
    display: grid;
    grid-template-columns: 5fr 2.5fr;
    font-size: 1.1rem;
}

.introduce-profile {
    font-weight: bold;
    display: grid;
    grid-template-columns: max-content auto;
    align-items: center;
    gap: 20px;
    line-height: 1.8rem;
}

.introduce-profile #profile-image {
    width: 80px;
    height: auto;
}

.interactive-buttons {
    display: grid;
    grid-template-columns: repeat(3, max-content);
    place-items: center;
    place-content: center;
    gap: 40px
}

.interactive-buttons button {
    color: white;
    padding: 12px 35px;
    border-radius: 16px;
    border: none;
    background-color: rgb(1, 138, 184);
}

#upload-button {
    padding: 12px 25px;
}